:root{
    --green:#00FF00;
    --cinza: grey;
    --cinzaescuro:rgb(148, 143, 143);
    --white:#ffffff;
    --black:#0f0f0f;
    --blackescuro:black;
    --blue: royalblue;
}
*{
    color: var(--fontColor);
}
body {
    font-family: monospace;
    background: var(--bg);
    
    min-height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#card{
    width: 70vh;
    border-radius: 10px;
    box-shadow: 2px 2px 36px ;
    margin: 0px 4px 0px 4px;

    background-color: var(--colorcard);
    padding: 2rem;
    margin: 20px 0 20px 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Parte-Superior {
    text-align: center;
    width: 100vh;
}
.lateral {
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    cursor: pointer;
}
.Parte-Superior span{
    font-size: 1.5rem;
}
.img{
    display: flex;
    justify-content: center;
}
.ft-minha{
    width: 25vh;
    border-radius: 50%;
    border: 3px solid var(--corbordaft);
}
#redessociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    margin: 0;

    margin-top: 8px;
}
#redessociais .redes{
    border: 1px solid rgb(120, 120, 120);
    margin-bottom: 15px;
    padding: 10px;
    transition: 0.5s;
    opacity: 0.8;
}
#redessociais .redes:hover{
    transform: scale(1.03);
    opacity: 1;

}
#redessociais .redes a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.redes-icon{
    font-size: 25px;
}
.redes-name{
    text-align: center;
    width: 100%;
    margin-right: 25px;
}
#redessociais .redes{
    width: 100%;
}
@media(max-width:715px){
    .teste{
        display: flex;
        flex-direction: column;
    }
    #card{
        padding: 0.5rem;
    }
}
.light-theme {
    --bg: var(--cinza);
    --fontColor: var(--black);

    --btnBg: var(--white);
    --btnFontColor: var(--white);

    --colorcard:var(--cinzaescuro);
    --corbordaft:var(--cinza);
}
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);

    --btnBg: var(--white);
    --btnFontColor: var(--black);

    --colorcard:var(--blackescuro);
    --corbordaft:var(--green);
}

.btn{
    border: none;   
    color: var(--btnFontColor);
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
    font-size: 50px;
}
.btn:hover{
    transform: scale(1.2);
}
.btn:focus{
    outline-style: none;
}